/* здесь используйте глобальные переменные */
$tablet-width:768;
$desctop-width:1440;

/* colors */
$basewhite: #ffffff;
$basegray: #bdbdbd;
$baseblack: #333333;
$baseprimary: #7859cf;
$basesecondary: #f0ebff;

$primaryopacity: rgba(120, 89, 207, 0.25);
$primarylighter: #9070ec;
$primarydarker: #593cac;

$lightgray: #e2e2e2;
$lightestgrey: #f8f8f8;
$flatwhite: #f3ebe1;
$lavenderlatte: #eae6fc;
$espresso: #e5e6e8;
