.burger-button {
  display: block;
  padding: 22px;
  padding-right: 0;
  box-sizing: border-box;
  height: 60px;
  width: 38px;
  background-image: url("../../icons/stack.svg#burger");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $basesecondary;
  }

  @include media-tablet {
    display: none;
  }
}

.burger-button--cross {
  background-image: url("../../icons/stack.svg#cross");
}
