.catalog {
  background-color: $lightestgrey;
}

.catalog__container {
  padding-top: 50px;
  padding-bottom: 44px;
}

.catalog__title-text {
  margin-top: 4px;
  margin-bottom: 20px;
}

.catalog__fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  border: none;
}

.catalog__legend {
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__price-range {
  margin-top: 21px;
  margin-bottom: 35px;
  padding-right: 15px;
  padding-left: 5px;
}

.catalog__range-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog__range-inputs-wrapper .catalog__range-input {
  width: 118px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid $primarylighter;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 8px 10px;

  &::placeholder {
    color: $basegray;
    font-size: 16px;
    line-height: 24px;
  }

  &:disabled {
    color: $lightestgrey;
    border: 2px solid $lightgray;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.catalog__list-item {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: $baseblack;
}

.catalog__list-item:last-child {
  margin-bottom: 0;
}

.catalog__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.catalog__label:has(.catalog__radio:disabled) {
  color: $basegray;
}

.catalog__radio ~ .catalog__markup {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#radio");
  background-position: center;
  background-size: cover;
}

.catalog__radio:checked ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#radio-checked");
}

.catalog__radio:disabled ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#radio-disabled");
}

.catalog__checkbox ~ .catalog__markup {
  width: 42px;
  height: 24px;
  background-image: url("../../icons/stack.svg#toggle");
  background-position: center;
  background-size: cover;
}

.catalog__checkbox:checked ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#toggle-checked");
}

.catalog__checkbox:disabled ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#toggle-disabled");
}

.catalog__send-button {
  width: 100%;
  margin-bottom: 20px;
}

.catalog__reset-button {
  width: 100%;
  background-color: $basewhite;
  color: $baseprimary;
}

.catalog__sort-wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog__sort {
  padding: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  color: $baseprimary;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  background-image: url("../../icons/stack.svg#arrow-down");
  background-size: 10px 10px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 27px;
  cursor: pointer;

  &:hover {
    background-color: $basesecondary;
  }

  &:active {
    background-image: url("../../icons/stack.svg#arrow-up");
  }
}

.catalog__sort-label {
  display: flex;
  justify-content: space-between;
}

.catalog__products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

.catalog__pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  gap: 20px;
}

.catalog__pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $baseprimary;
  font-size: 16px;
  line-height: 24px;
  width: 40px;
  height: 40px;
  background-color: $basewhite;
}

.catalog__pagination-link--prev {
  background-image: url("../../icons/stack.svg#arrow-left");
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__pagination-link--next {
  background-image: url("../../icons/stack.svg#arrow-right");
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__pagination-link--active {
  font-weight: 600;
  background-color: transparent;
  color: $baseblack;
}
