.catalog {
  background-color: $lightestgrey;
}

.catalog__container {
  padding-top: 50px;
  padding-bottom: 44px;

  @include media-tablet {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.catalog__title-text {
  margin-top: 4px;
  margin-bottom: 20px;
}

.catalog__filter {
  @include media-desctop {
    grid-area: filter;
  }
}

.catalog__products-wrapper {
  @include media-desctop {
    grid-area: products;
  }
}

.catalog__wrapper {
  @include media-desctop {
    display: grid;
    grid-template-columns: 318px 1011px;
    gap: 0 30px;
    grid-template-areas: "filter sort" "filter products";
  }
}

.catalog__fieldset-wrapper {
  @include media-tablet {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
  }

  @include media-desctop {
    display: block;
  }
}

.catalog__fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  border: none;

  @include media-tablet {
    margin-bottom: 40px;
  }

  @include media-desctop {
    margin-bottom: 30px;
  }
}

.catalog__legend {
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__price-range {
  margin-top: 26px; /* 21 px */
  margin-bottom: 35px;
  padding-right: 15px;
  padding-left: 5px;
}

.catalog__range-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog__range-inputs-wrapper .catalog__range-input {
  width: 118px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid $primarylighter;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 8px 10px;

  &::placeholder {
    color: $basegray;
    font-size: 16px;
    line-height: 24px;
  }

  &:focus {
    border: 2px solid $primarydarker;
  }

  &:disabled {
    color: $lightestgrey;
    border: 2px solid $lightgray;
  }

  @include media-tablet {
    width: 87px;
  }

  @include media-desctop {
    width: 134px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.catalog__list-item {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: $baseblack;
}

.catalog__list-item:last-child {
  margin-bottom: 0;
}

.catalog__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.catalog__label:has(.catalog__radio:disabled) {
  color: $basegray;
}

.catalog__radio ~ .catalog__markup {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#radio");
  background-position: center;
  background-size: cover;
}

.catalog__radio:hover ~ .catalog__markup,
.catalog__radio:focus ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#radio-hover-focus");
}

.catalog__radio:checked ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#radio-checked");
}

.catalog__radio:disabled ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#radio-disabled");
}

.catalog__radio:disabled:checked ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#radio-disabled-checked");
}

.catalog__checkbox ~ .catalog__markup {
  width: 42px;
  height: 24px;
  background-image: url("../../icons/stack.svg#toggle");
  background-position: center;
  background-size: cover;
}

.catalog__checkbox:hover ~ .catalog__markup,
.catalog__checkbox:focus ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#toggle-hover-focus");
}

.catalog__checkbox:checked ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#toggle-checked");
}

.catalog__checkbox:disabled ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#toggle-disabled");
}


.catalog__checkbox:disabled:checked ~ .catalog__markup {
  background-image: url("../../icons/stack.svg#toggle-disabled-checked");
}

.catalog__buttons-wrapper {
  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.catalog__send-button {
  width: 100%;
  margin-bottom: 20px;

  @include media-tablet {
    width: auto;
    margin-bottom: 0;
  }

  @include media-desctop {
    width: 139px;
  }
}

.catalog__reset-button {
  width: 100%;
  background-color: $basewhite;
  color: $baseprimary;

  @include media-tablet {
    width: auto;
  }

  @include media-desctop {
    width: 149px;
  }
}

.catalog__sort-wrapper {
  padding-top: 44px; /* 40px */
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  @include media-tablet {
    padding-top: 44px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }

  @include media-desctop {
    grid-area: sort;
    padding: 0;
    margin-bottom: 26px;
  }
}

.catalog__sort {
  padding: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  color: $baseprimary;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  background-image: url("../../icons/stack.svg#arrow-down");
  background-size: 10px 10px;
  background-position: 135px 8px; /* center right */
  background-repeat: no-repeat;
  padding-right: 27px;
  cursor: pointer;

  &:hover {
    background-color: $basesecondary;
  }

  &:active {
    background-image: url("../../icons/stack.svg#arrow-up");
  }
}

.catalog__sort-label {
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    gap: 20px;
  }
}

.catalog__products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;

  @include media-tablet {
    grid-template-columns: 349px 349px;
    gap: 30px;
  }

  @include media-desctop {
    grid-template-columns: 317px 317px 317px;
  }
}

.catalog__pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  gap: 20px;

  @include media-tablet {
    margin-top: 70px;
    justify-content: end;
  }

  @include media-desctop {
    margin-top: 60px;
  }
}

.catalog__pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $baseprimary;
  font-size: 16px;
  line-height: 24px;
  width: 40px;
  height: 40px;
  background-color: $basewhite;
  padding: 8px;
  box-sizing: border-box;
}

.catalog__pagination-link--prev {
  background-image: url("../../icons/stack.svg#arrow-left");
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;

  @include media-tablet {
    background-image: none;
    padding: 8px 20px;
    width: auto;
  }
}

.catalog__pagination-link--next {
  background-image: url("../../icons/stack.svg#arrow-right");
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;

  @include media-tablet {
    background-image: none;
    padding: 8px 20px;
    width: auto;
  }
}

.catalog__pagination-link--active {
  font-weight: 600;
  background-color: transparent;
  color: $baseblack;
}

.catalog__pagination-link--prev span,
.catalog__pagination-link--next span {
  display: none;

  @include media-tablet {
    display: inline;
  }
}
