.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media-mobile {
    width: 320px;
    padding: 0;
  }
}

.page-header__logo-text {
  display: none;

  @include media-desctop {
    display: block;
    max-width: 126px;
  }
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  @include media-mobile {
    margin-left: 20px;
  }
}
