.product {
  background-color: $basewhite;
  padding: 40px 20px 20px;
  height: 100%;
  box-sizing: border-box;
}

.product__image-wrapper {
  text-align: center;
}

.product__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 0;
}

.product__description {
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

.product__buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
